html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Consolas', sans-serif;
  background-color: #0C0A11;
  color: #FFFFFF;;
  list-style: none;
}

a {
  color: #33FF99;
  text-decoration: none;
}

*,*::after,*::before{
  box-sizing: border-box;
  list-style: none;
}

::-webkit-scrollbar {
  width: 6px;
  }
  ::-webkit-scrollbar-track {
  border-left: 1px solid #000;
  }
  ::-webkit-scrollbar-thumb {
  background: #575757;
      box-shadow: inset 0 0 6px #333232;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #575757;
      box-shadow: inset 0 0 6px #333232;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: #575757;
  }

h1{
  color: #33FF99;
}

.img-border img{
  border: 1px solid #33FF99;
}

.community-icons i{
  color: #33FF99;
}

.community-icons{
  padding-bottom: 5rem;
}

.hero-head{
  padding: 4rem 0 0 2.5rem;
}

.Homepage-line{
  border: 1px solid rgba(255, 255, 255, 0.45);
}

.Homepage-button{
  color: #0C0A11;
  width: 219px;
  height: 52px;
  background: linear-gradient(0deg, #33FF99, #33FF99), #D9D9D9;

  border: 1px solid #FFFFFF;
}

.Page-title-container{
  padding-left: 20px;
}

.Page-title{
  font-size: 3rem;
}

.Page-list{
  font-size: 1.5rem;
  line-height: 45px;
}

.animate-image:hover{
  transform: scale(1);
}

.icon-text:hover{
  color: #33FF99;
}

@media only screen and (max-width: 600px){

    .Homepage-button{
      margin-bottom: 50px;
      width: 180px;
      height: 52px;
    }

    .Homepage-image{
      margin-bottom: 50px;
    }

    .community-icons{
      padding-bottom: 2rem;
    }

    .Page-title{
      font-size: 2rem;
      margin-right: 10px;
    }

    .Page-body{
      padding-right: 20px;
      word-wrap: break-word;
      /* word-break: break-all; */
      flex-direction: column;
    }
}

/* ONLY DESKTOP */

@media only screen and (min-width : 992px) {
  .separate-div{
    padding-right: 1.25rem;
  }
}

/* ONLY DESKTOP */

/* page 1 Start */

@media only screen and (max-width: 600px){

    .Page1-title{
      font-size: 1rem;
    }
    .Page1-image{
      margin: 50px 0;
    }

    .Page1-body{
      flex-direction: column;
    }

}

/* page 1 End */

/* page 2 Start */

.Page2-list{
  font-size: 1.5rem;
  line-height: 35px;
}

@media only screen and (max-width: 600px){

    .Page2-list{
      white-space: pre-line;
      word-break: break-all;
    }

}

/* page 2 End */

.line-footer{
  border: 1px solid rgba(255, 255, 255, 0.45);
}


/* JS */

.hidden{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}

.show{
  transform: translateY(0px);
  opacity: 1;
}

.scaleImage{
  transform: scale(1.3);
  transition: transform .5s ease-in-out;
}

/* JS */